<nav id="main-bar">
  <% if (user) { %>
    <h3>Welcome, <%= user.username %></h3>
    <a href="/">Home</a>
    <a href="/clubs">Clubs</a>
    <a href="/books">Library</a>
    <a href="/auth/sign-out">Sign out</a>
    <% } else { %>
    <a href="/">Home</a>
    <a href="/auth/sign-up">Sign up</a> or <a href="/auth/sign-in">Sign in</a>.
  <% } %>
</nav>