<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="/css/show.css"> -->
</head>
<body>
  <h1>Create Book</h1>
  <form action="/books" method="POST">
    <label for="img">image:</label>
    <input type="text" name="image" id="img">
    <!-- <img src="" alt="Pic of book title"> -->

    <label for="Author">Author: </label>
    <input type="text" name="author" id="Author">

    <label for="DatePublisted">Date Published: </label>
    <input type="text" id="DatePublisted" name="datePublisted">

    <label for="Description">Description: </label>
    <input type="text" id="Description" name="description">

    <label for="Title">Title: </label>
    <input type="text" id="Title" name="title">

    <label for="Pages">Pages: </label>
    <input type="number" id="Pages" name="pages">

    <button type="submit">Create Book</button>
  </form>
</body>
</html>