<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="/css/show.css"> -->
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  List of books page
  <a href="/books/create">Add a book to the Library!</a>
  <% books.forEach((book) => { %>
    <div>
      <img src="<%= book.image %>" alt="<%= book.title %>">
      <h1><%= book.title %></h1>
    </div>
  <% }) %>
</body>
</html>